@model IEnumerable<RestaurantRaterMVC.Models.Rating.RatingListItem>

@{
    ViewData["Title"] = ViewBag.RestaurantName;
}

<h2>Ratings for @ViewBag.RestaurantName</h2>

<p>
    @Html.ActionLink("Rate This Restaurant", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back To Index", "Index")
</div>